// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.table tr{
    text-align: center;
}

.table td{
    text-align: center;
    vertical-align: middle;
}

.post{
    width: 300px;
}


.table td ul{
    width: 100%;
    list-style-type: none;
}


.myform-container{
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
}
